@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

aside{
  background: rgb(13,110,253);
  background: -moz-linear-gradient(180deg, rgba(13,110,253,1) 0%, rgba(12,99,227,1) 35%, rgba(10,78,177,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(13,110,253,1) 0%, rgba(12,99,227,1) 35%, rgba(10,78,177,1) 100%);
  background: linear-gradient(180deg, rgba(13,110,253,1) 0%, rgba(12,99,227,1) 35%, rgba(10,78,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d6efd",endColorstr="#0a4eb1",GradientType=1);     
}

section form textarea{
  min-height: 6rem;
  max-height: 10rem;
}

section form input, section form textarea{
  border: none;
}
